@import url('https: //fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Roboto:wght@500&display=swap');
@import './mixin-pages';
@import './variables-pages';

.wrapper {
    margin: 0 auto;
    width: 1440px;
}

main {
    margin-top: 120px;

    @media (max-width: 1024px) {
        margin-top: 70px;
    }
}

.TArticleName,
.pagesCases {
    text-align: center;
    @include white_text_title;
    margin-bottom: 25px;
    line-height: 40px;

    @media (max-width: 1024px) {
        font-size: 20px;
        margin-bottom: 15px;
        line-height: 25px;
    }
}

.parallax {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-attachment: fixed;


    @media (max-width: 768px) {
        display: none;
    }
}

.wrapper,
.MainArticle {
    margin: 0 auto;
    position: relative;
    max-width: 1440px;

}

.MainArticle p {
    padding: 5px;
    @include about_text_info;
    text-indent: 1.5em;
}

.MainArticle ul li {
    padding: 5px;
    @include about_text_info;
    text-indent: 1.5em;
    margin-bottom: 10px;

    &::before {
        content: '\2611';
    }
}

.lineArt {
    width: 300px;
    border: 2px solid $main_color;
    margin: 10px 0;
}

.contactArt {
    @include about_text_info;
    margin-bottom: 10px;
}

// другие статьи 
.wrapForArticles {
    position: relative;
    width: 100%;
    height: 320px;
    left: 0;
    margin-bottom: 20px;
    gap: 10px 10px;
    overflow: hidden;
}

.BlogUsefull {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    height: 1000px;
    background-color: aquamarine;
}

.BlogWrapForArticles {
    position: relative;
    width: 100%;
    height: auto;
    left: 0;
    margin-bottom: 20px;
    gap: 10px 10px;
}

.Articles {
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 1 0 0;
    gap: 10px 10px;
}

.lawArticle {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 320px;
    background-color: $burger_color;
}


.lawArticleName {
    text-align: center;
}

.ArticleIMG {
    display: block;
}

.artIMG {
    display: block;
    width: 100%;
    max-width: 1440px;

    @media (max-width:800px) {
        display: none;
    }
}

figure {
    @media (max-width:800px) {
        display: none;
    }
}