@charset "UTF-8";
@import url("https: //fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Roboto:wght@500&display=swap");
.wrapper {
  margin: 0 auto;
  width: 1440px;
}

main {
  margin-top: 120px;
}
@media (max-width: 1024px) {
  main {
    margin-top: 70px;
  }
}

.TArticleName,
.pagesCases {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 21px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #FFBC40;
  margin-bottom: 25px;
  line-height: 40px;
}
@media (max-width: 1024px) {
  .TArticleName,
.pagesCases {
    font-size: 20px;
    margin-bottom: 15px;
    line-height: 25px;
  }
}

.parallax {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-attachment: fixed;
}
@media (max-width: 768px) {
  .parallax {
    display: none;
  }
}

.wrapper,
.MainArticle {
  margin: 0 auto;
  position: relative;
  max-width: 1440px;
}

.MainArticle p {
  padding: 5px;
  font-family: "Comfortaa";
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 2px;
  color: #052A6E;
  text-indent: 1.5em;
}

.MainArticle ul li {
  padding: 5px;
  font-family: "Comfortaa";
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 2px;
  color: #052A6E;
  text-indent: 1.5em;
  margin-bottom: 10px;
}
.MainArticle ul li::before {
  content: "☑";
}

.lineArt {
  width: 300px;
  border: 2px solid #4577D4;
  margin: 10px 0;
}

.contactArt {
  font-family: "Comfortaa";
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 2px;
  color: #052A6E;
  margin-bottom: 10px;
}

.wrapForArticles {
  position: relative;
  width: 100%;
  height: 320px;
  left: 0;
  margin-bottom: 20px;
  gap: 10px 10px;
  overflow: hidden;
}

.BlogUsefull {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  height: 1000px;
  background-color: aquamarine;
}

.BlogWrapForArticles {
  position: relative;
  width: 100%;
  height: auto;
  left: 0;
  margin-bottom: 20px;
  gap: 10px 10px;
}

.Articles {
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  gap: 10px 10px;
}

.lawArticle {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  height: 320px;
  background-color: #ffdc4093;
}

.lawArticleName {
  text-align: center;
}

.ArticleIMG {
  display: block;
}

.artIMG {
  display: block;
  width: 100%;
  max-width: 1440px;
}
@media (max-width: 800px) {
  .artIMG {
    display: none;
  }
}

@media (max-width: 800px) {
  figure {
    display: none;
  }
}