@charset "UTF-8";
@import url("https: //fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Roboto:wght@500&display=swap");
* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  position: relative;
  width: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header,
section,
footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.container {
  max-width: 1440px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px auto;
}
@media (max-width: 1024px) {
  .container {
    max-width: 984px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 728px;
  }
}
@media (max-width: 420px) {
  .container {
    max-width: 380px;
  }
}

header {
  background-color: #4577D4;
  height: 100px;
  position: fixed;
  z-index: 100;
}
@media (max-width: 1024px) {
  header {
    position: fixed;
    height: 50px;
    top: 0;
    width: 100%;
    background-color: #4577D4;
    border-bottom: 1px solid #FFBC40;
  }
}

.headerWrapper {
  position: relative;
  width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 1024px) {
  .headerWrapper {
    width: 984px;
  }
}
@media (max-width: 768px) {
  .headerWrapper {
    max-width: 728px;
  }
}
@media (max-width: 420px) {
  .headerWrapper {
    max-width: 380px;
  }
}

.headerLogoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1024px) {
  .headerLogoContainer {
    position: relative;
    z-index: 5;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
  }
}
@media (max-width: 420px) {
  .headerLogoContainer {
    max-width: 380px;
    padding-left: 3px;
  }
}

.logo_lawyer {
  width: 100%;
  max-width: 50px;
  height: 100%;
  max-height: 50px;
  padding-right: 20px;
  padding-left: 20px;
}
@media (max-width: 1024px) {
  .logo_lawyer {
    width: 35px;
    height: 35px;
  }
}
@media (max-width: 420px) {
  .logo_lawyer {
    display: none;
  }
}

h1,
.header_tel {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 17px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #052A6E;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}
@media (max-width: 1024px) {
  h1,
.header_tel {
    position: relative;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFDB40;
  }
}

h1 {
  margin-bottom: 15px;
}
@media (max-width: 1024px) {
  h1 {
    margin-top: 5px;
    margin-bottom: 10px;
  }
}

.header_tel:hover {
  color: #FFBC40;
}

@media (max-width: 1024px) {
  .header_burger {
    display: block;
    position: relative;
    width: 30px;
    height: 25px;
    z-index: 5;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  .header_burger::before, .header_burger::after {
    content: "";
    position: absolute;
    background-color: #052A6E;
    width: 100%;
    height: 2px;
    left: 0;
  }
  .header_burger::before {
    top: -8px;
  }
  .header_burger::after {
    top: 8px;
  }
  .header_burger span {
    position: absolute;
    background-color: #052A6E;
    left: 0;
    width: 100%;
    height: 2px;
  }
}

.burger_active {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}
.burger_active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  z-index: 77;
}
.burger_active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  z-index: 77;
}
.burger_active span {
  display: none;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}
.burger_active .navigation {
  left: 0;
}

@media (max-width: 1024px) {
  .navigation {
    position: fixed;
    top: 50px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #ffdc4093;
    -webkit-transition-duration: 0.7s;
            transition-duration: 0.7s;
  }
}
@media (max-width: 1024px) {
  .navigation .menu {
    width: 500px;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 10px;
    left: 10px;
  }
  .navigation .menu .menuItem {
    position: relative;
    margin: 10px 20px 10px 0;
    padding: 5px 0;
    border: 2px solid #1C0772;
    background-color: #FFDB40;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
  }
  .navigation .menu .menuItem .menuLink {
    width: 100%;
    padding: 20px;
    margin: 0;
  }
  .navigation .menu .menuItem:hover {
    border: 2px solid #FFDB40;
    background-color: #4577D4;
  }
}
@media (max-width: 550px) {
  .navigation .menu {
    width: calc(250px + 250 * ((100vw - 320px) / (550 - 320)));
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu .menuItem {
  padding-right: 20px;
}
@media (max-width: 1024px) {
  .menu {
    display: block;
    padding-left: 30px;
    padding-right: 0;
  }
  .menu li {
    padding: 30px 0 0;
  }
}

.menuLink {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 17px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #052A6E;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}
.menuLink:hover {
  color: #FFBC40;
}

.main_page {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 100px;
  width: 100%;
}

.mainWrapper_page {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1440px;
  margin: 0 auto;
}

.PagesTitle {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 21px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #FFBC40;
  text-align: center;
  padding: 30px 0;
}
@media (max-width: 1024) {
  .PagesTitle {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFBC40;
    padding: 0;
  }
}

.TextPages {
  margin: 20px auto;
}

@media (max-width: 1024px) {
  .pagesCasesTitle {
    display: none;
  }
}

.pagesCases {
  font-size: 22px;
  line-height: 21px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #052A6E;
  color: #FFBC40;
  text-align: center;
  padding: 30px 0;
}

.aboutHelp {
  font-family: "Comfortaa";
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 2px;
  color: #052A6E;
  font-size: 20px;
  padding: 20px;
}

.casesLaw li {
  font-family: "Comfortaa";
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 2px;
  color: #052A6E;
  padding-bottom: 15px;
}
.casesLaw li::before {
  content: "✅";
}

.pagesCases a {
  margin: 20px auto;
}

@media (max-width: 1024) {
  .footer_container {
    width: 984px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}