$main_color:#4577D4; 
$second_color: #6549D7;
$third_color: #FFDB40;
$extra_color: #FFBC40;

$burger_color: #ffdc4093;

$main_color_dark: #052A6E;
$second_color_dark: #1C0772;
$third_color_dark: #A68700;
$extra_color_bright: #A66C00;
$main_color_dark2: #052a6ec0;